/*body {
    background: url('../../static/images/bg.jpg')no-repeat;
    color: #fff;
    font-size: 20px;
    font-family: regular;
    page-break-after: center;
}*/

body {
background-color: #F0F0F0;
margin-left: 20px;
}

form {
	display: inline-block;	
}

textarea {
	display: inline-block;
}
