<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
</head>
<body style="background-color:#CCE6FF" />
<center>
    <h1>Knowledge Sharing Campaign</h1>
    <img src="https://avatars2.githubusercontent.com/u/12671253?v=3&s=200" />
</center>
<div header>
    <h3>
		<table border="1" width="100%" id="Table1">
			<tr align="center">
				<td><a href="home.html">Home</a></td>
				<td><a href="aboutus.html">About Us</a></td>
				<td><a href="events.html">Events</a></td>
				<td><a href="contactus.html">Contact Us</a></td>
			</tr>
		</table>
	</h3>
</div>
<p>This is going to be the About Us page.</p>
</body>

</html>
