<!DOCTYPE html>
<html>
	<head>
		<title>Contact Us</title>
	</head>
	<body style="background-color:#CCE6FF"/>
		<center>
			<h1>Knowledge Sharing Campaign</h1>
			<img src="https://avatars2.githubusercontent.com/u/12671253?v=3&s=200"/>
		</center>
						<div header>
			<h3>
				<table border="1" width="100%" id="Table1">
					<tr align="center">
						<td><a href="home.html">Home</a></td>
						<td><a href="AboutUs.html">About Us</a></td>
						<td><a href="AboutUs.html">Gallery</a></td>
						<td><a href="Events.html">Events</a></td>
						<td><a href="ContactUs.html">Contact Us</a></td>
					</tr>
				</table>
			</h3>
		</div>
	<center>
			<table style="width:10">
				<tr>
					<td><b>Contacts</b></td>
				</tr>
				<tr>
					<td>Office Address Location</td>
				</tr>
				<tr>
					<td><a href="https://www.facebook.com/Knowledge-Sharing-Campaign-2017193451752977/timeline/">Facebook</a></td>
				</tr>
				<tr>
					<td><a href="https://github.com/knowledge-sharing-campaign/site">Website</a></td>
				</tr>
				<tr>
					<td><a href="https://twitter.com/">Twitter</a></td>
				</tr>
			</table>
	</center>		
	</body>
</html>