<!DOCTYPE html>
<html>
<head>
    <title>KSC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/slippry/dist/slippry.min.js"></script>
    <link rel="stylesheet" href="/static/css/home_style.css">
    <link rel="stylesheet" href="/static/slippry/dist/slippry.css">
    <link rel="stylesheet" href="/static/css/home.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/con.css">
</head>
<header>
    <div id="langbar" align="right">
        <select>
            <option>Language</option>
            <option value="English">English</option>
            <option value="French">French</option>
        </select>
    </div>
    <div id="menu" class="clear">
        <a href="/">
            <div class="logo"><img height="4%" src="/static/images/ksclogo3.png" alt="logo"></div>
        </a>
        <ul align="center" id="bar">
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registration</a></li>
        </ul>
    </div>
</header>
</div>
<body>
<div id="form-main" align="right">
<table>
<tr>
 <div id="col" >
 <b><h1 align="center">Contact Us</h1></b>
<td><p>Office Address:</p> 
<p><p>ThoughtWorks Technologies (India) Pvt Ltd.</p> 
<p>3rd Floor, Apurupa Silpi,</p> 
<p>Beside H.P. Petrol Bunk (KFC Building),</p> 
<p>Gachibowli, Hyderabad - 500032, India</p>

<p>Telephone: 04012345679</p>
<p>Fax:</p>
</div>
</tr>
<tr>
  <div id="form-div">
    <form class="form" id="form1">
      
      <p class="name">
        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
      </p>
      
      <p class="email">
        <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
      </p>
      
      <p class="text">
        <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>
      </p>
      
      
      <div class="submit">
        <input type="submit" value="SEND" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
  </tr>
</table></div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</body>
    <footer align="center">
    <div id="wrap">
    <div id="right">
    <ul>
        <ls>
            <div align="right">
                <a href="https://www.facebook.com/Knowledge-Sharing-Campaign-2017193451752977/timeline/?ref=br_tf" target="_blank">
                    <img alt="Go to KSC facebook page" align="right" border="0" height="40" src="/static/images/facebook1.png" width="40">
                </a>
                <a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dgplp0#identifier" target="_blank"><img alt="Go to KSC google+ page" align="right" border="0" height="40" src="/static/images/google1.png" width="40"></a>
                <a href="https://twitter.com/hashtag/KnowledgeSharingCampaign?src=hash&lang=en" target="_blank">
                    <img alt="Go to KSC facebook page" border="0" height="40" src="/static/images/twitter1.png" width="40">
                </a>
    </div>
    <div id="main" align="left">
    <ls>
                    <a id="contactus" href="/contactus">
                        <font size="3"><b> Contact Us </b></font>
                    </a>
                   
                </ls>&nbsp;
                <ls>
                    <a id="partners" href="/partners">
                        <font size="3"><b>| Our Partners  </b></font>
                    </a>
                    
                </ls>&nbsp;
                <ls>
                    <a id="termscons" href="/termscons">
                        <font size="3"><b>| Terms&Conditions </font></a>
                    
              </ls>&nbsp;
                <ls>
                    <a id="privacy" href="/privacy">
                        <font size="3"><b>| Privacy Policy </font></a>
                </ls>&nbsp;
                    &nbsp;
    <ls><a href=""><b>| Copyright &copy; 2015 &middot; KnowledgeSharingCampaign &middot; </a></ls>
            </div>
            </div>
    </footer>

</html>
