<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/slippry/dist/slippry.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="/static/css/home_style.css">
    <link rel="stylesheet" href="/static/css/home.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen" />
    <script src="/static/sliderengine/jquery.js"></script>
    <script src="/static/sliderengine/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/sliderengine/amazingslider-1.css">
    <script src="/static/sliderengine/initslider-1.js"></script>
</head>
     <footer align="center">
        <ls>
            <div align="right">
                <a href="https://www.facebook.com/Knowledge-Sharing-Campaign-2017193451752977/timeline/?ref=br_tf" target="_blank">
                    <img alt="Go to KSC facebook page" align="right" border="0" height="40" src="/static/images/facebook1.png" width="40">
                </a>
                <a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dgplp0#identifier" target="_blank"><img alt="Go to KSC google+ page" align="right" border="0" height="40" src="/static/images/google1.png" width="40"></a>
                <a href="https://twitter.com/hashtag/KnowledgeSharingCampaign?src=hash&lang=en" target="_blank">
                    <img alt="Go to KSC facebook page" border="0" height="40" src="/static/images/twitter1.png" width="40">
                </a>
            </div>
            <div align="center">
                <ls>
                    <a id="contactus" href="/contactus">
                        <font size="3"><b> Contact Us </b></font>
                    </a>
                </ls>&nbsp;
                <ls>
                    <a id="partners" href="/partners">
                        <font size="3"><b>| Our Partners  </b></font>
                    </a>
                </ls>&nbsp;
                <ls>
                    <a id="termscons" href="/termscons">
                    <font size="3"><b>| Terms&Conditions </font></a> 
                </ls>&nbsp;
                <ls>
                    <a id="privacy" href="/privacy">
                        <font size="3"><b>| Privacy Policy </font></a>
                </ls>&nbsp;
                &nbsp;
                <ls><a href=""><b>| Copyright &copy; 2015 &middot; KnowledgeSharingCampaign &middot; </a></ls>
            </div>    
        <br>
        <br>
    </footer>
</html>