<!DOCTYPE html>
<html>
	<head>
	    <title>Gallery</title>
	
	</head>
	<body style="background-color:#CCE6FF" />
	<center>
	    <h1>Knowledge Sharing Campaign</h1>
	    <img src="https://avatars2.githubusercontent.com/u/12671253?v=3&s=200" />
	</center>
		<div header>
			<table border="1" width="100%" id="Table1">
				<tr font-size="14" align="center">
					<td><a href="/">Home</a></td>
					<td><a href="aboutus">About Us</a></td>
					<td><a href="gallery">Gallery</a></td>
					<td><a href="events">Events</a></td>
				</tr>
			</table>
		</div>
	<table>
		<tr><td><img src="/static/images/1.jpg"></td><td><img src="/static/images/2.jpg"></td></tr>
		<tr><td><img src="/static/images/3.jpg"></td><td><img src="/static/images/4.jpg"></td></tr>
		<tr><td><img src="/static/images/5.jpg"></td><td><img src="/static/images/6.jpg"></td></tr>
	</table>
	</body>
</html>
