<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>KSC GALLERY</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/slippry/dist/slippry.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="/static/css/home_style.css">
    <link rel="stylesheet" href="/static/slippry/dist/slippry.css">
    <link rel="stylesheet" href="/static/css/home.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen" />
    <script src="/static/galleryengine/jquery.js"></script>
    <script src="/static/galleryengine/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/galleryengine/amazingslider-1.css">
    <script src="/static/galleryengine/initslider-1.js"></script>
</head>
{% include 'header.html' %}

<body>
    <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:900px;margin:0px auto 102px;">
        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
            <ul class="amazingslider-slides" style="display:none;">
                <li><img src="/static/galleryimages/1.jpg" alt="STUDENTS" title="STUDENTS" data-description="KNOWLEDGE SHARING CAMPAIGN" />
                </li>
                <li><img src="/static/galleryimages/2.jpg" alt="TRAINER TEAM" title="TRAINER TEAM" data-description="KNOWLEDGE SHARING CAMPAIGN" />
                </li>
                <li><img src="/static/galleryimages/3.jpg" alt="DEV. + UI/UX" title="DEV. + UI/UX" data-description="KNOWLEDGE SHARING CAMPAIGN" />
                </li>
                <li><img src="/static/galleryimages/4.jpg" alt="SESSION" title="SESSION" data-description="KNOWLEDGE SHARING CAMPAIGN" />
                </li>
                <li><img src="/static/galleryimages/5.jpg" alt="BRAIN STORM" title="BRAIN STORM" data-description="KNOWLEDGE SHARING CAMPAIGN" />
                </li>
                <li><img src="/static/galleryimages/6.jpg" alt="DEV. SESSION" title="DEV. SESSION" data-description="KNOWLEDGE SHARING CAMPAIGN" />
                </li>
                <li><img src="/static/galleryimages/7.jpg" alt="JOINT SESSION" title="JOINT SESSION" data-description="KNOWLEDGE SHARING CAMPAIGN" />
                </li>
            </ul>
            <ul class="amazingslider-thumbnails" style="display:none;">
                <li><img src="/static/galleryimages/1-tn.jpg" alt="STUDENTS" title="STUDENTS" /></li>
                <li><img src="/static/galleryimages/2-tn.jpg" alt="TRAINER TEAM" title="TRAINER TEAM" /></li>
                <li><img src="/static/galleryimages/3-tn.jpg" alt="DEV. + UI/UX" title="DEV. + UI/UX" /></li>
                <li><img src="/static/galleryimages/4-tn.jpg" alt="SESSION" title="SESSION" /></li>
                <li><img src="/static/galleryimages/5-tn.jpg" alt="BRAIN STORM" title="BRAIN STORM" /></li>
                <li><img src="/static/galleryimages/6-tn.jpg" alt="DEV. SESSION" title="DEV. SESSION" /></li>
                <li><img src="/static/galleryimages/7-tn.jpg" alt="JOINT SESSION" title="JOINT SESSION" /></li>
            </ul>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

</html>
