<!DOCTYPE html>
<html>

<head>
    <title>KSC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/slippry/dist/slippry.min.js"></script>
    <link rel="stylesheet" href="/static/slippry/dist/slippry.css">
    <link rel="stylesheet" href="/static/css/home.css" type="text/css">

    <style type="text/css">
    body {
        background-color: #CCE6FF }
    #Table1 {
        background-color: #5CD6FF ;
        font: 20px arial, sans-serif ;
        width:50% ;
        margin: 5px auto }
    a:link {
        color: black ;
        text-decoration: none}
    a:hover {
        text-transform: none}
    #bar {
        padding-top: 25px
    }
    header{

    height: 100px;
    background: #dbdbdb;
    width: 100%;
    z-index: 10;
    position: fixed;

    }
    </style>

</head>
<body style="background-color:#CCE6FF">
    <center>
        <h1>Knowledge Sharing Campaign</h1>
    </center>
    <div id="header">
        <h3>
        <table border="1" width="100%" id="Table1">
            <tr align="center">
                <td><a href="/">Home</a></td>
                <td><a href="aboutus">About Us</a></td>
                <td><a href="events">Events</a></td>
                <td><a href="gallery">Gallery</a></td>
                <td><a href="contactus">Contact Us</a></td>
            </tr>
        </table>
    </div>
</header>
    
    <div align="right" id="lang">
        <select><option>Language</option>
            <option value="English">English</option>
            <option value="French">French</option>
        </select>
        <button type="button">Log In</button>
    </div>

    <p>
        <a href="https://www.facebook.com/Knowledge-Sharing-Campaign-2017193451752977/timeline/?ref=br_tf">
            <img align="right" alt="Go to KSC facebook page" border="0" height="42" src="/static/images/facebook1.jpeg" width="42"></a>
        <a href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dgplp0#identifier">
            <img align="right" alt="Go to KSC google+ page" border="0" height="42" src="/static/images/google1.jpeg" width="42"></a>
        <a href="https://twitter.com/hashtag/KnowledgeSharingCampaign?src=hash&lang=en"><img align="right" alt="Go to KSC facebook page" border="0" height="42" src="/static/images/twitter1.jpeg" width="42"></
        </p>
    <section class="slider_wrapper">
        <article class="slider_block">
            <ul id="slider">
                <li><a href="#slide1"><img src="/static/images/1.jpg"></a></li>
                <li><a href="#slide2"><img src="/static/images/2.jpg"></a></li>
                <li><a href="#slide3"><img src="/static/images/3.jpg"></a></li>
                <li><a href="#slide4"><img src="/static/images/4.jpg"></a></li>
                <li><a href="#slide5"><img src="/static/images/5.jpg"></a></li>
                <li><a href="#slide6"><img src="/static/images/6.jpg"></a></li>
                <li><a href="#slide7"><img src="/static/images/7.jpg"></a></li>
            </ul>
        </article>
    </section>
    <script>
    $(function() {
        var demo1 = $("#slider").slippry({
            transition: 'fade',
            useCSS: true,
            speed: 1000,
            pause: 3000,
            auto: true,
            preload: 'visible',
            autoHover: false
        });
    });
    </script>
</body>

</html>