<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>successful registered</title>

    
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/style.css">
  <script src="/static/js/prefixfree.min.js"></script>

<link rel="stylesheet" href="/static/css/home_style.css">


</head>
<header>

    <div id="langbar" align="right">
        <select>
            <option>Language</option>
            <option value="English">English</option>
            <option value="French">French</option>
        </select>
    </div>
    <div id="menu" class="clear">
        <a href="/"><div class="logo"><img height="4%" src="/static/images/ksclogo3.png" alt="logo"></div></a>
        <ul align="center" id="bar">
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/upcomingevents">Events</a></li>
            <li><a href="/login">Login</a></li>
             <li><a href="/register">Registration</a></li>
        </ul> 
    </div>    
</header>
    </div>
    
  </head>

  <body>
  <p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

    
    <div  align="center"> 
      <div id=
      <a href="/"></a>
                           successful registered
           </div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p> 
<p>&nbsp;</p>
    {% include 'footer.html' %}  
 </body>
</html>
