<!DOCTYPE html>
<html>

<head>
    <style>
    .h1 {
        text-decoration: underline;
    }
    </style>
</head>

<body>
    <div style="float:left; width:50%;">
        <h1>SIGN UP</h1>
        <p>
            <label for="firstname">First Name: <span class="required">*</span></label>
            <input type="text" id="firstname" name="firstname" value="" placeholder="First name" required="required" autofocus="autofocus" />
            <br>
        </p>
        <p>
            <label for="firstname">Sur Name: <span class="required">*</span></label>
            <input type="text" id="surname" name="surname" value="" placeholder="surname" required="required" autofocus="autofocus" />
            <br>
        </p>
        <p>
            <label for="date of birth">Date of Birth: <span class="required">*</span></label>
            <input type=date step=7 max=2015-09-08>
        </p>
        <form>
            <label for="gender"> Gender </label>
            <input type="radio" name="gender" value="male"> Male
            <input type="radio" name="gender" value="female"> Female
        </form>
        <p>
            <form>
                <label for="emailaddress">Email Address: <span class="required=" autofocus="autofocus"></span></label>
                <input type="text" name="emailaddress" placeholder="example@ksc.com" />
            </form>
        </p>
        <p>
            <form>
                Telephone:
                <input type="tel" name="usrtel">
            </form>
        </p>
        <p>
            <form>
                current address:
                <input type="text" name="current address">
                <br>
            </form>
        </p>
        <form>
            <p>
                permanent address :
                <input type="text" name="permanent address">
                <br>
                <form>
                    <p>
                        <label for="Country">Country: <span class="required">*</span></label>
                        <select name="country">
                            <option value="">Country...</option>
                            <option value="DZ">Algeria</option>
                            <option value="AG">Angola</option>
                            <option value="BJ">Benin</option>
                            <option value="BW">Botswana</option>
                            <option value="BF">Burkina Faso</option>
                            <option value="BI">Burundi</option>
                            <option value="CM">Cameroon</option>
                            <option value="CV">Cape Verde</option>
                            <option value="CF">Central African Republic</option>
                            <option value="TD">Chad</option>
                            <option value="CG">Congo Brazzaville</option>
                            <option value="CG">Congo kinsasha</option>
                            <option value="CT">Cote D'Ivoire</option>
                            <option value="DJ">Djibouti</option>
                            <option value="EG">Egypt</option>
                            <option value="GQ">Equatorial Guinea</option>
                            <option value="ER">Eritrea</option>
                            <option value="ET">Ethiopia</option>
                            <option value="GA">Gabon</option>
                            <option value="GM">Gambia</option>
                            <option value="GH">Ghana</option>
                            <option value="GN">Guinea</option>
                            <option value="KE">Kenya</option>
                            <option value="LR">Liberia</option>
                            <option value="LY">Libya</option>
                            <option value="MG">Madagascar</option>
                            <option value="ML">Mali</option>
                            <option value="MR">Mauritania</option>
                            <option value="MA">Morocco</option>
                            <option value="MZ">Mozambique</option>
                            <option value="NA">Namibia</option>
                            <option value="NE">Niger</option>
                            <option value="NG">Nigeria</option>
                            <option value="RW">Rwanda</option>
                            <option value="ST">Sao Tome &amp; Principe</option>
                            <option value="SN">Senegal</option>
                            <option value="SC">Seychelles</option>
                            <option value="SL">Sierra Leone</option>
                            <option value="OI">Somalia</option>
                            <option value="ZA">South Africa</option>
                            <option value="SD">Sudan</option>
                            <option value="TZ">Tanzania</option>
                            <option value="TG">Togo</option>
                            <option value="TN">Tunisia</option>
                            <option value="UG">Uganda</option>
                            <option value="ZR">Zaire</option>
                            <option value="ZM">Zambia</option>
                            <option value="ZW">Zimbabwe</option>
                        </select>
                        <br>
                </form>
                </p>
                <p>
                    <label for="university"> University/Institution <span class="required">*</span></label>
                    <input type="text" name="university or institution">
                    <br>
                </p>
                <p>
                    <label for="course"> Course <span class="required">*</span></label>
                    <input type="text" name="Course or field of study">
                    <br>
                </p>
                <p>
                    <label for="captchar"> Captchar <span class="captchar">*</span></label>
                    <input type="text" name="Verify if you are a human">
                    <br>
                </p>
                <p>
                    <label for="password">Password: <span class="required">*</span></label>
                    <input type="text" id="password" name="password" value="" placeholder="*********" required="required" autofocus="autofocus" />
                </p>
                <p>
                    <INPUT TYPE="checkbox" NAME="Terms" VALUE="Conditions"> "I have read and agree to the following" <a target="_blank" href="http://ideamensch.com/terms-and-conditions" rel="nofollow" >Terms and conditions</a>

                </p>
                <p>
                <script type="text/javascript">
                    $('#recaptchaButton').click(function (e) {
    e.preventDefault();
    $.post('https://examples.webscript.io/recaptcha',
        { challenge: Recaptcha.get_challenge(), response:Recaptcha.get_response() },
        function (data) {
            if (data.success) {
                alert("Captcha completed successfully!");
                loadCaptcha();
            } else {
                alert("Captcha failed.");
            }
        });
});</script>
                </p>
                <input type="submit" value="Submit">
    </div>
    <div style="float:right; width:50%; ">
        <form>
            <br>
            <h1>Sign in</h1>
            <table>
                <tr>
                    <td>Username</td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <th>
                        <input type="text">
                    </th>
                </tr>
            </table>
            <br>
            <input type="submit" value="Sign In">
            <input type="submit" value="Register">
            <input type="submit" value="Forgot Password">
        </form>
    </div>
</body>

</html>
