<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    {% include 'header.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="/static/css/home_style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/register.css"/>
    <script type="text/javascript" async=""
            src="https://www.gstatic.com/recaptcha/api2/r20151006130033/recaptcha__en.js"></script>
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <style type="text/css">
p{
    font-size: 10px;
}
    </style>
</head>
</div>
<body onload="document.register.firstname.focus()">
<form name="register" id="register" method="post" onsubmit="return validateForm()">
    <title>Registration</title>

    <h1>Create a KSC account</h1>

    <div>
        <label>First Name *</label>
        <input type="text" name="firstname" id="firstname" placeholder="Enter your first name" maxLength="140" required>
    </div>
    <div>
        <label>Last Name *</label>
        <input type="text" name="lastname" id="lastname" placeholder="Enter your last name" maxLength="140" required>
    </div>
    <div>
        <label>Email ID *</label>
        <input type="email" name="email" id="email" placeholder="Enter your Email ID" required>
    </div>
    <div>
        <label>Username *</label>
        <input type="text" name="username" id="username" placeholder="Choose your Username" required>
    </div>
    <div>
        <label>Password *</label>
        <input type="password" name="password" id="password" placeholder="Enter your Password" required>
    </div>
    <p>password should have uppercases and lowercases</p>
    <div>
        <label>Confirm Password *</label>
        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Type your password again."
               required>
    </div>
    <div>
        <label>Contact Number *</label>
        <input type="text" name="contact" id="contact" placeholder="Enter your Contact Number" maxLength="10" required>
    </div>
    <div>
        <label>Date Of Birth</label>
        <input type="text" id="dob" placeholder="dd/mm/yyyy" required>
    </div>
    <div>
        <label>Gender</label><br>
        <select id="gender" required>
            <option value="">Please select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Others">Others</option>
        </select>
    </div>

    <div>
        <label>Current Address *</label>
        <textarea type="text" name="currentaddress" id="currentaddress" placeholder="Current Address"
                  required></textarea>
    </div>
    <div>
        <label>Permanent Address *</label>
        <textarea type="text" name="permanentaddress" id="permanentaddress" placeholder="Permanent Address"
                  required></textarea>
    </div>
    <div>
        <label>Country <span class="required"></span></label>
        <select name="country" id="country">
        </select>
    </div>
    <div>
        <label>City *</label>
        <input type="text" name="city" id="city" placeholder="Enter your city" required>
    </div>
    <div>
        <label>University *</label>
        <input type="text" name="university" id="university" placeholder="Enter your University" required>
    </div>
    <div>
        <label>Course *</label>
        <input type="text" name="course" id="course" placeholder="Enter your Course" maxLength="140" required>
    </div>
    <div class="question">
        <div>
            <label id="question">How did you get to know KSC?</label>
        </div>
        <div>
            <input name="question" type="radio" value="friends" required>Friends<br>
            <input name="question" type="radio" value="social">Social Media<br>
            <input name="question" type="radio" value="google">Google Search<br>
        </div>
    </div>
    <div class="g-recaptcha" data-sitekey="6Le-wvkSAAAAAPBMRTvw0Q4Muexq9bi0DJwx_mJ-">
        <div>
            <div style="width: 304px; height: 78px;">
                <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="" tabindex="0"
                        vspace="0" width="304" title="recaptcha widget" role="presentation" height="78"
                        id="I0_1444917289438" name="I0_1444917289438"
                        src="https://www.google.com/recaptcha/api2/anchor?k=6Le-wvkSAAAAAPBMRTvw0Q4Muexq9bi0DJwx_mJ-&co=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbQ..&hl=en&v=r20151006130033&size=normal&usegapi=1&jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en.Nb8ObINpBKA.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Ft%3Dzcms%2Frs%3DAGLTcCNfRvoFX0pkA_cFRmUHgmkfPskI2w#id=I0_1444917289438&parent=https%3A%2F%2Fwww.google.com&pfname=&rpctoken=21596282">
                </iframe>
            </div>
            <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"
                      style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none; display: none; "></textarea>
        </div>
        <div>
            <p>I have read and agree to the <a target="_blank" href="/termscons" rel="nofollow">Terms and conditions</a></p>
        </div>
        <button type="submit" class="registrationsuccessful">Submit</button>
    </form>
    </fieldset>
</body>
    </div>

<script type="text/javascript" src="/static/js/register.js"></script>
<script>
    $(function () {
        $("#dob").datepicker();
    });

    $.ajax({
        url: "/static/data/countries.json"
    }).done(function(countries) {
        var contents = '<option value="">Please Select</option>';

        for (var country in countries)
            contents += "<option value='" + countries[country] + "'>" + country + "</option>";
        document.getElementById("country").innerHTML = contents;
    });
</script>
</body>
<p>&nbsp;</p>
    {% include 'footer.html' %}
</html>
