<!DOCTYPE html>
<html>
<head>
    <title>KSC</title>
    {% include 'header.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/slippry/dist/slippry.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="/static/css/home_style.css">
    <link rel="stylesheet" href="/static/slippry/dist/slippry.css">
    <link rel="stylesheet" href="/static/css/home.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen" />
    <script src="/static/sliderengine/jquery.js"></script>
    <script src="/static/sliderengine/amazingslider.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/sliderengine/amazingslider-1.css">
    <script src="/static/sliderengine/initslider-1.js"></script>
    <link rel="stylesheet" href="/static/css/termscons.css">
</head>
<body>
    <p>
        <h1>Terms and Conditions</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac turpis ac felis porttitor vehicula ac vel lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit tempor nulla, in congue tortor interdum vitae. Sed consectetur dignissim condimentum. Nullam condimentum accumsan libero, in vehicula nulla aliquam quis. Etiam quis ipsum feugiat, fringilla odio ac, fringilla felis. Duis eu libero odio. Vivamus odio augue, finibus id ipsum quis, eleifend hendrerit felis. Proin ut ultrices magna. Maecenas eget dui faucibus, commodo orci eu, egestas enim.</p>

<p>Integer sed urna felis. Praesent maximus condimentum arcu et mattis. Mauris vel hendrerit justo. Etiam egestas, dui sed euismod interdum, erat leo rutrum mauris, et hendrerit orci metus eget sapien. Cras sagittis justo in dui ultricies, eget rutrum enim feugiat. Duis fringilla est vel nunc maximus tempor non vel eros. Curabitur a lorem vitae tortor aliquet vulputate nec non neque.</p>

<p>Proin sollicitudin, ligula in placerat efficitur, erat mauris interdum leo, et euismod risus odio vitae eros. Vivamus lacinia, lorem nec pellentesque efficitur, diam leo vestibulum lectus, vel egestas elit est quis massa. Sed varius eget massa at faucibus. Donec ut euismod ligula. Nullam eget arcu venenatis, volutpat purus et, pretium nisl. Sed interdum lobortis lacus eu cursus. Nunc ac sem at libero venenatis blandit. Donec quis dapibus turpis.</p>

<p>Quisque mollis ligula quis nunc sagittis, sit amet sagittis libero elementum. Cras in nisl dictum, pharetra urna eget, laoreet sem. Curabitur vel elit a est euismod vehicula. Cras fringilla volutpat metus, ut tincidunt lacus interdum id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris malesuada orci vitae sodales porttitor. Curabitur quis ultricies mi, ac dapibus risus. Integer pulvinar felis in orci accumsan facilisis.</p>

<p>Curabitur tempus eu dolor in facilisis. Donec imperdiet, est maximus venenatis mattis, lectus leo venenatis nisi, et eleifend sapien mi vitae lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec molestie dignissim metus, vitae gravida eros sagittis eget. Nulla fermentum tortor et dui tristique lobortis. Vivamus nec nibh quis ipsum vulputate malesuada. Fusce est tortor, interdum eget metus vel, rhoncus faucibus velit. In luctus dictum ligula laoreet pharetra. Maecenas tincidunt, odio quis hendrerit tempor, mauris ipsum semper felis, sit amet lobortis ex turpis eget ex. Cras commodo consectetur purus dapibus pretium. Sed non placerat mi. Ut volutpat nisi nisl, quis pulvinar eros accumsan ut</p>
<p>&nbsp;</p>
    {% include 'footer.html' %}
</body>

<!--end of body-->

</html>
