body {
    background-color: #F0F0F0;
}

h1 {
    margin-left: 20px;
}
form
{
	display: inline-block;
	
}
p{
text-align: right;
}
textarea
{
display: inline-block;
}
img{
width: 350px;

}
tr{
	text-align: left;
	padding-right: 100%;
	padding:20px;
}