form {
    border: 5px solid black;
    width: 100%;
    font-size: 18px
}

table,
td {
    border: 0px solid black;
}

h1 {
    font-size: 20px
}

.slider_wrapper {
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-device-width: 800px),
screen and (max-width: 800px) {
    .slider_wrapper {
        width: 80%;
    }
}

.slider_block {
    width: 100%;
}
