<!DOCTYPE html>
<html>
	<head>
		<title>KSC</title>
	</head>
	<body style="background-color:#CCE6FF"/>
		<center>
			<h1>Knowledge Sharing Campaign</h1>
			<img src="https://avatars2.githubusercontent.com/u/12671253?v=3&s=200"/>
			<p>This ia a campaign about knowledge sharing.<br>This campaign brings students from Africa together and share knowledge.</p>
			<table style="width:10">
				<tr>
					<td><b>Contacts</b></td>
				</tr>
				<tr>
					<td>Office Address Location</td>
				</tr>
				<tr>
					<td><a href="https://www.facebook.com/Knowledge-Sharing-Campaign-2017193451752977/timeline/">Facebook</a></td>
				</tr>
				<tr>
					<td><a href="https://github.com/knowledge-sharing-campaign/site">Website</a></td>
				</tr>
				<tr>
					<td><a href="https://twitter.com/">Twitter</a></td>
				</tr>
			</table>
		</center>
	</body>
</html>